[submodule "get-mu"]
	path = get-mu
	url = git@gist.github.com:75def6c339baf83bc510eb5840f068e8.git
[submodule "setup-gitlab"]
	path = setup-gitlab
	url = git@gist.github.com:c5f29f2c642765e97fa1af4d61e843a3.git
[submodule "setup-pagure"]
	path = setup-pagure
	url = git@gist.github.com:a327e7d1beec6534d44daaf5b600f25f.git
[submodule "get-clang"]
	path = get-clang
	url = git@gist.github.com:356090e4d5a703594a09eae513396e50.git
[submodule "iPhone-videos"]
	path = iPhone-videos
	url = git@gist.github.com:018145b065b5ca96664bc46c862d3955.git
[submodule "get-git"]
	path = get-git
	url = git@gist.github.com:3772766beae1b0d8db871dee885d8bb9.git
[submodule "get-python"]
	path = get-python
	url = git@gist.github.com:edea095637f39d38679dcf512bf6a2f9.git
[submodule "get-shadowsocks"]
	path = get-shadowsocks
	url = git@gist.github.com:46eb1acfda68997d3e20c4b57abf1ef6.git
[submodule "get-emacs"]
	path = get-emacs
	url = git@gist.github.com:7d674c8c36e5f02c7f4b69c0017d075c.git
